<!--
<div class="container">
<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
    <img id="dialogobajo" class="img-responsive " src="../../../../assets/images/bajo/letreroBajo.png">
  </div>
</div>
<br><br> -->

<div class="card border-success" >
  <img id=dialogobajo class="card-img-top" src="../../../../assets/images/bajo/letreroBajo.png">
</div>

<br>

<div class="row pull-left">
  <button type="button" class="btn btn-primary" routerLink="/ib/b/b2">
    <h5>Siguiente</h5>
  </button>
</div>
