<div class = "container">
  <div class="jumbotron">
    <app-p1></app-p1>
  </div>
</div>
  <!-- <form (ngSubmit)="enviar()">

    <div>
      <label for="p1">¿Con qué frecuencia consume alguna bebida alcoholica?</label>
      <select class="form-control"
              [(ngModel)]="model.p1"
              name="p1"
              id="p1"
              required>
                <option *ngFor="let opcionP1 of opcionesP.p1" [value]="opcionP1">{{opcionP1}}</option>
      </select>
    </div>

    <button type="submit">Enviar</button>

    </form> -->




  <!-- </div>


    <br>

    <div>
      <label for="p2">Pregunta 2</label>
      <input  type="number"
              [(ngModel)]="model.p2"
              name="p2"
              id="p2"
              required>
    </div>

    <br>

    <div>
      <label for="p3">Pregunta 3</label>
      <input  type="number"
              [(ngModel)]="model.p3"
              name="p3"
              id="p3"
              required>
    </div> -->
