<form (ngSubmit)="almacenaPuntaje()" class="form-control">

  <div>
    <label for="p1"><h4>¿Cuántos tragos suele tomar en una ocasión de consumo?</h4></label>
    <h6 class="text-muted">Por ejemplo 2 latas de cerveza más 1 copa de vino son 3 tragos </h6>

    <br>

    <select class="form-control input-lg"

            [(ngModel)]="model"
            name="p1"
            id="p1"
            required
            #p1="ngModel">
      <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
    </select>

  </div>

  <br>

<div class="container">
  <h5>1 trago equivale a:</h5>
  <div class="row">
    <div class="col-4">
      <div class="card w-75">
        <img class="card-img-top" src="../../../assets/images/tragos/cerveza_1.png">
        <div class="card-block">
          <p class="card-title font-weight-bold">una lata de cerveza</p>
            <p class="card-text text-center">(=1 trago)</p>
          </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card w-75">
        <img class="card-img-top" src="../../../assets/images/tragos/vino_1.png">
        <div class="card-block">
          <p class="card-title font-weight-bold">una copa de vino</p>
            <p class="card-text text-center">(=1 trago)</p>
          </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card w-75">
        <img class="card-img-top" src="../../../assets/images/tragos/corto_1.png">
        <div class="card-block">
          <p class="card-title font-weight-bold">un corto de licor</p>
            <p class="card-text text-center">(=1 trago)</p>
          </div>
      </div>

    </div>
  </div>
</div>


  <button type="submit" class="btn btn-success"
  [disabled]="p1.invalid">
    Siguiente</button>

  </form>
  <br>
  <div class="progress">
  <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
